body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Minecraft", sans-serif;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-container .page-header {
    /* padding-top: 48px; */
    /* padding-right: 59px; */
    padding: 48px 59px 0 59px;
    align-self: flex-start;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.page-container .page-header .logo-wrapper img {
    height: 60px;
    object-fit: contain;
    width: auto;
}

.page-container .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 37px;
}

.page-container .social-icons img {
    width: 50px;
    object-fit: contain;
}

.page-container .footer-controls {
    position: fixed;
    bottom: 0px;
    right: 59px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    column-gap: 68px;
}

.page-container .footer-controls a {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 13px;
    cursor: pointer;
}

.page-container .footer-controls a span {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 136.23%;
    letter-spacing: 0.75px;
}

.page-container .footer-controls .btn:focus {
    box-shadow: none;
}

.page-container .footer-controls #voice-control-btn {
    height: 60px;
    width: 60px;
    object-fit: contain;
    border: none;
    cursor: pointer;
}

/* Styles for the play and stop images */
.page-container .footer-controls #voice-control-btn.play::before {
    content: url('../img/voice-control-on.png');
}

.page-container .footer-controls #voice-control-btn.stop::before {
    content: url('../img/voice-control-off.png');
}



.page-container .modals-wrapper {
    height: calc(100vh - 169px);
    display: flex;
    align-items: center;
}

.page-container .start-modal-wrapper {
    background-image: url(../img/start-modal-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 556px;
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
    height: 592px;
}

.page-container .start-modal-wrapper .modal-content-header {
    position: relative;
}

.page-container .start-modal-wrapper .modal-content-header img {
    width: 371px;
    height: 87px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 69px;
    z-index: -1;
}

.page-container .start-modal-wrapper .modal-content-header img+p {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding-top: 82px;
}

.page-container .start-modal-wrapper .modal-content-body {
    padding-left: 79px;
    padding-right: 61px;
    align-self: flex-start;
}

.page-container .start-modal-wrapper .modal-content-body p {
    font-weight: 500;
    color: #EBC4B2;
    font-size: 25px;
    letter-spacing: 0.75px;
    line-height: 136.23%;
    margin-bottom: 0;
    height: 238px;
}

.page-container .start-modal-wrapper .modal-content-footer .btn {
    font-size: 30px;
    padding: 14px 40px;
    color: #FDECE4;
    font-weight: 500;
    letter-spacing: 0.9px;
    border-radius: 10px;
    border: 6px solid #000;
    background: #CE2E2E;
    transition: background 0.1s;
}

.page-container .start-modal-wrapper .modal-content-footer .btn:focus {
    box-shadow: none;
}

.page-container .draw-modal-wrapper {
    background-image: url(../img/draw-modal-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1244px;
    height: 752px;
    display: none;
}

.page-container .draw-modal-wrapper .header {
    position: relative;
}

.page-container .draw-modal-wrapper .header img {
    position: absolute;
    width: 490px;
    height: 87px;
    left: 50%;
    transform: translateX(-50%);
    top: 62px;
    z-index: -1;
}

.page-container .draw-modal-wrapper .right-draw-pane .header,
.page-container .draw-modal-wrapper .right-draw-pane .header img {
    width: 423px;
}

.page-container .draw-modal-wrapper .header img+p {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding-top: 77px;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.page-container .congratulation-modal-wrapper {
    background-image: url(../img/congratulation-modal-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
    width: 698px;
    height: 630px;
}

.page-container .congratulation-modal-wrapper .modal-content-header {
    position: relative;
}

.page-container .congratulation-modal-wrapper .modal-content-header img {
    width: 429px;
    height: 87px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 69px;
    z-index: -1;
}

.page-container .congratulation-modal-wrapper .modal-content-header img+p {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding-top: 82px;
}

.page-container .congratulation-modal-wrapper .modal-content-body {
    padding-left: 79px;
    padding-right: 61px;
}

.page-container .congratulation-modal-wrapper .modal-content-body p {
    font-weight: 500;
    color: #EBC4B2;
    font-size: 25px;
    letter-spacing: 0.75px;
    line-height: 136.23%;
    margin-bottom: 0;
}

.page-container .congratulation-modal-wrapper .modal-content-footer .btn {
    font-size: 30px;
    padding: 14px 40px;
    color: #FDECE4;
    font-weight: 500;
    letter-spacing: 0.9px;
    border-radius: 10px;
    border: 6px solid #000;
    background: #CE2E2E;
}

.page-container .congratulation-modal-wrapper .modal-content-footer .btn:focus {
    box-shadow: none;
}

.pixel-editor-wrapper {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pixel-editor-wrapper canvas {
    width: 510px;
    height: 510px;
    position: relative;
    margin: 0;
    border-radius: 10px;
    border: 7px solid #181425;
    background-color: #8b9bb4;
    padding: 4px;
}

.pixel-editor-wrapper .swatch-container {
    position: absolute;
    right: -9px;
    top: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.pixel-editor-wrapper .swatch-color {
    display: block;
    border: solid #000000 6px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background: #FF2424;
    cursor: pointer;
}

.pixel-editor-wrapper .swatch-color:nth-of-type(7) {
    background: transparent !important;
}

.pixel-editor-wrapper .swatch-color:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}



.pixel-editor-wrapper .clear,
.pixel-editor-wrapper .download {
    display: block;
    border: solid #000000 6px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background: #CE2E2E;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel-editor-wrapper .clear:hover,
.pixel-editor-wrapper .download:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

.page-container .draw-modal-wrapper .right-draw-pane {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-container .draw-modal-wrapper .description {
    width: 423px;
}

.page-container .draw-modal-wrapper .description p {
    margin-bottom: 0;
    color: #EBC4B2;
    font-size: 24px;
    font-weight: 500;
    line-height: 136.23%;
    letter-spacing: 0.75px;
    margin-top: 28px;
}

.submit-design-form {
    margin-top: 16px;
    width: 423px;
    text-align: center;
}

.submit-design-form .form-control::placeholder {
    color: #2C2522;
}

.submit-design-form .form-control:focus {
    box-shadow: none;
}

.submit-design-form .form-control {
    padding: 13px 21px;
    border-radius: 10px;
    border: 6px solid #000;
    background: #BEA193;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.75px;
}

.submit-design-form>div {
    margin-bottom: 13px;
}

.submit-design-form .btn-submit-design {
    color: #FDECE4;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.9px;
    border-radius: 10px;
    border: 6px solid #000;
    background: #CE2E2E;
    padding: 12px 50px;
}

.submit-design-form .btn-submit-design:focus {
    box-shadow: none;
}

#termsofcondition .modal-content,
#whatisthis .modal-content {
    background-color: transparent;
}

#termsofcondition .modal-dialog,
#whatisthis .modal-dialog {
    max-width: 1078px;
    top: calc(50% - 56px);
    transform: translateY(-50%);
}

#termsofcondition .modal-body,
#whatisthis .modal-body {
    position: relative;
    padding: 0;
}

#termsofcondition .termsofcondition-background,
#whatisthis .whatisthis-background {
    position: absolute;
}

#termsofcondition .modal-body .modal-content-header,
#whatisthis .modal-body .modal-content-header {
    position: relative;
}

#termsofcondition .modal-body .modal-content-header img,
#whatisthis .modal-body .modal-content-header img {
    width: 484px;
}

#termsofcondition .modal-body .modal-content-header img,
#whatisthis .modal-body .modal-content-header img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 77px;
    z-index: 2001;
}

#termsofcondition .modal-body .modal-content-header img+p,
#whatisthis .modal-body .modal-content-header img+p {
    position: relative;
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.2px;
    top: 90px;
    z-index: 2002;
}

#termsofcondition .modal-body .modal-content-body,
#whatisthis .modal-body .modal-content-body {
    margin-top: 130px;
    position: relative;
    z-index: 2001;
    width: 866px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 306px;
    overflow: auto;
    padding-right: 70px;
}

#termsofcondition .modal-body .modal-content-body p,
#whatisthis .modal-body .modal-content-body p {
    color: #EBC4B2;
    font-size: 24px;
    font-weight: 500;
    line-height: 136.23%;
    letter-spacing: 1px;
    margin-bottom: 0;
}

/* For Webkit browsers */
::-webkit-scrollbar {
    width: 9px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #BEA193;
}

/* For Firefox */
/* width */
* {
    scrollbar-width: thin;
}

/* Track */
* {
    scrollbar-track-color: 000;
}

/* Handle */
* {
    scrollbar-color: #BEA193;
}

#btn-get-started:hover,
.submit-design-form .btn-submit-design:hover {
    background-color: rgba(206, 46, 46, 0.6);
}

.custom-checkbox {
    width: 35px;
    height: 35px;
    border: 6px solid #000;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    background-color: #BEA193;
}

.custom-checkbox input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-checkbox .check-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #000;
    display: none;
}

.custom-checkbox input:checked+.check-mark {
    display: block;
}

.custom-checkbox-wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 33px;
}

.custom-checkbox-wrapper .customCheckbox-label {
    color: #EBC4B2;
    font-size: 18px;
    font-weight: 500;
    line-height: 136.23%;
    letter-spacing: 0.54px;
    text-align: left;
    cursor: pointer;
}

.custom-checkbox-wrapper .customCheckbox-label a {
    text-decoration: underline;
    cursor: pointer;
}

.submit-design-form .error-message {
    color: #FF0000;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}